.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  min-height: 70vh;
  background-color: lightgray;
}

.voting-image-section {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.voting-image-section img {
  width: 100%;
}

.voting-buttons-section {
  margin-top: 2vh;
}

.voting-buttons-section :nth-child(2) {
  margin-left: 40px;
  margin-right: 40px;
}

.flex p {
  display: inline;
  margin: 8px;
  font-size: 20px;
}